<div class="order_form">
 <% if flash[:alert] %>
 <p id="notice"><%= flash[:alert] %></p>
 <% end %>
 <%= form_tag controller: "access", action: "create", method: "post" do %>
 <fieldset>
 <legend>Please Log In</legend>
 <div>
 <%= label_tag :name, 'Name(lxy):' %>
 <%= text_field_tag :name, params[:name] %>
 </div>
 <div>
 <%= label_tag :password, 'Pass(lxy):' %>
 <%= password_field_tag :password, params[:password] %>
 </div>
 <div>
 <%= submit_tag "Login" %>
 </div>
 </fieldset>
 <% end %>
</div> 