<div  class="shopper">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Product Catalog</h1>

  <% @products.each do |product| %>
    <div class = "entry">
      <%= image_tag("/#{product.image}") %>
        <%= tag.h3 "#{product.name}" %>

        <p><%= sanitize(product.description) %></p>
          <div class="price_line">
          <span class="price">$<%= product.price %></span>
      	  </div>
          <div class = "buclick">
            <%= button_to 'Add to Cart', lineitems_path(product_id: product), class: 'add_to_cart' %>
          </div>
      </div>
    <% end %>
<br>
	
</div>
